$heading_fontFamily: 'Playfair Display', serif;
$title_fontFamily: 'Montserrat', sans-serif;
$content_fontFamily: 'Lora', serif;
$heading_color: #0e0e0e;
$title_color: #1b1b1b;
$content_color: #6D6A6A;
$subtitle_color: #AFAFAF;
$btn_color: #f34f3f;
$main_color: #ffffff;
$footer_background_color: #fefaf3;
$header_background_color: #FAFAF9;
$title_background_color: #f6f6f6;
$heading_fontSize: 50px;
$title_fontSize: 12px;
$content_fontSize: 14px;
$fontSize: 17px;
$border: 1px solid #eee;

